body {
  background: grey;
  /*font-family: 'Lato', sans-serif;*/
  background-image: url("../img/pic1.jpg");
  background-size:cover;
  font-family: 'Share Tech Mono', Mono ;
}

h1 {
  font-weight: bold;
  text-align: center;
  background-color: rgba(100, 239, 170, 0.5);
  border: 4px solid black;
  margin-bottom: 35px;
  color:rgba(0,0,0,.8);
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  /*margin-top:-5px;*/
  
}

.container {
  position:relative;
/*  height:100%;
  width: 100%;*/
 
  margin-bottom: 50px;
  margin-top: 50px;
  /*border: 1px solid green;*/
}

ul {
  height:400px;
  width:400px;
  /*border: 3px solid black;*/
  list-style: none;
  margin: 110px auto;
  border:5px solid black;
  border-radius: 10px;
  padding-top: 25px;
  padding-left: 10px;
  background-color: rgba(100, 239, 170, 0.5);
}

li {
  background-color: #333333;
  color:rgba(100, 239, 170, 0.7);
  border-radius: 7px;
  border:1px solid black;
  /*border:1px solid red;*/
  height:110px;
  width:110px;
  display: inline-block;
  margin:7px;
  cursor: pointer;
  font-size: 5em;
  /*the below lines make the text center in middle of li element*/
  text-align: center;
  vertical-align: middle;
  line-height: 100px;       /* the same as your div height */
  box-sizing: border-box;
}

li:hover{
  background-color:rgba(175, 119, 234, 0.6);
  border:4px solid black;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);   
}



.rowOne {
  margin-top: 10px;
}

.rowTwo {
}

.rowThree {
}

footer {
  margin: 0 auto;

}

#reset {
  border: 3px solid black;
  height: 45px;
  width: 200px;
  text-align: center;
  background-color: rgba(100, 239, 170, 0.5);
  position: absolute;
  top:260px;
  right:20px;
  color:rgba(0,0,0,0.9);
  border-radius: 7px;
  cursor: pointer;
  vertical-align: middle;
  line-height: 45px;
  font-weight:bolder;
  font-size: 1.5em;
  box-sizing: border-box;

}

#reset:hover {
    background-color:rgba(175, 119, 234, 0.6);
    border:4px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);  
}

/*class for noughts*/
/*.noughts {
  background-color: red;
  border-radius: 5px;
  border:1px solid red;
  height:150px;
  width:150px;
  display: inline-block;
  margin:2px;
}*/

/*class for crosses*/
/*.crosses {
  background-color: blue;
  border-radius: 5px;
  border:1px solid red;
  height:150px;
  width:150px;
  display: inline-block;
  margin:2px;
}*/
